
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #fff !default

$color-primary: #1a73e8 !default
$color-secondary: #3c4043 !default

$color-border: #f1f3f4 !default
$color-border-box: #dadce0 !default
$color-bg: #fafafa !default

$color-black: #3c4043 !default

