.breadcrumb
	display: flex

	padding: .5rem 0
	margin: 0 0 2.0rem 0

	font-size: $font-s

	&-item
		list-style-type: none
		margin: 0

		&+&
			margin-left: 1.0rem
			
			&:before
				content: '/'
				padding-right: 5px
