.rating
	display: flex
	align-items: center
	margin-right: 1.0rem

	&__star
		width: 12rem
		height: 2.4rem
		background: url('https://assets.mspcdn.net/f_auto/zariance/icon/star_grey_round.png') repeat-x left center / 2.4rem
		
		&-inr
			height: 2.4rem
			background: url('https://assets.mspcdn.net/f_auto/zariance/icon/star_orange_round.png') repeat-x left center / 2.4rem
	
	&__num
		margin-left: 0.8rem

		font-size: $font-l
		font-weight: $font-bold
