.rating
	display: flex
	align-items: center

	&__star
		width: 10rem
		height: 2rem

		background: url('https://assets.mspcdn.net/zariance/icon/star_grey.svg') left center / 2rem repeat-x

		&-inr
			height: 2rem

			background: url('https://assets.mspcdn.net/zariance/icon/star_gold.svg') left center / 2rem repeat-x

	&__num
		line-height: 2rem
		margin-left: 1rem

		font-size: $font-l
		font-weight: $font-bold

	&--small
		.rating
			&__star
				width: 8rem
				height: 1.6rem

				background-size: 1.6rem

				&-inr
					height: 1.6rem

					background-size: 1.6rem

			&__num
				line-height: 1.5rem

				font-size: $font-s

	&__reviewer
		padding-left: 2.5rem

		background: url("https://assets.mspcdn.net/zariance/icon/account-grey.svg") left center / 2rem no-repeat

@include mobile
	.rating
		&__num
			font-size: $font-m

		&__reviewer
			white-space: nowrap

			padding: 2.1rem 0 0 0

			background-position: top center
