.section
	& + &
		margin-top: 2.5rem

	&__title
		margin-bottom: 2rem

		font-size: 2.4rem
		font-weight: $font-semibold

		letter-spacing: 0.04rem

		&--sub
			margin-bottom: 1rem

			font-size: 2.2rem
			font-weight: $font-semibold

			letter-spacing: 0.04rem
	
	&__header
		display: flex

h1
	&.section
		&__title
			line-height: 1.2

			font-size: 3.6rem
			font-weight: $font-bold
