.sidebar
	border-right: 1px solid $color-border

	&.sidebar
		padding-right: 2rem

@media screen and (max-width: $breakpoint-mobile)
	.sidebar
		&#{&}
			padding-right: 0
			border: 0
			margin-top: 3.0rem