.sidebar
	border-left: 1px solid $color-border

	@include mobile
		&#{&}#{&}
			padding-left: 0
			border: 0
			margin-top: 3.0rem

	&__section
		& + &
			margin-top: 2.5rem

	&#{&}
		padding-left: 2rem
