body
    margin: 0

    background-color: $color-light-grey

.main
    box-sizing: border-box

    width: $site-width
    padding: 20px
    margin: 0 auto
    border: 1px solid $color-grey

    background-color: $color-white

.card
    box-sizing: border-box

    border-radius: 5px
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);

    background-color: $color-white

    &--pdng
        padding: 16px
