.footer
	padding: 4.3rem 0
	margin-top: 2rem

	background-color: $color-light-grey
	color: $color-dark-grey

	& + &
		margin-top: 0

	&--white
		background-color: $color-white

	&--blue
		background-color: $color-secondary

	&--intro
		padding: 6rem 0
		margin-top: 7rem

		.intro-section
			margin-top: 0

	&__main
		@include mobile
			text-align: center

			& > .row
				flex-direction: column-reverse

	&__logo
		height: 2.6rem

	&__copyright
		margin-top: 1.2rem

		font-size: $font-s

	&__social
		text-align: right

		&-link
			svg
				box-sizing: content-box

				fill: $color-dark-grey

				padding: 0.1rem

				transition: fill 0.2s

			&:hover
				svg
					fill: $color-primary

		@include mobile
			flex-direction: row
			justify-content: center

			margin-bottom: 4.3rem

			text-align: inherit

			.column
				&:first-child
					margin: 0 10% 0 0
