.footer
    margin: 6rem 0 4rem

    &__logo
        height: 4rem

    &__copyright
        font-size: $font-s

    &__india
        margin-top: 2.5rem

        font-size: $font-xs

        cursor: default

        &:hover
            .footer__heart
                color: $color-red
