.hdr
    height: 110px
    padding: 31px 0
    margin-bottom: 20px

    background-color: $color-white

    &__inr
        width: $site-width
        margin: 0 auto

.logo
    width: 180px
    height: 40px
    margin: 4px 0

.menu
    &__wrpr
        line-height: 48px

    margin-right: 50px

    font-size: $font-s
    font-weight: $font-bold

    text-transform: uppercase
    
    a
        text-decoration: none

        color: $color-black

    ul
        list-style-type: none

        margin: 0

    & > ul
        & > li
            position: relative

            margin-bottom: 0

            & + li
                margin-left: 20px

            & > a
                transition: 0.2s color

            ul
                position: absolute
                top: 48px
                left: 0

                z-index: 1
                overflow: hidden

                width: 250px
                line-height: 1.5
                max-height: 0
                padding-top: 0
                padding-bottom: 0
                margin-left: 0
                box-shadow: none

                transition: 0.1s max-height,  0.1s padding-top,  0.1s padding-bottom

                & + a
                    &:after
                            content: '';

                            display: inline-block;

                            border-top: 4px solid $color-black;
                            border-left: 3px solid transparent;
                            border-right: 3px solid transparent;
                            margin-left: 4px;

                            vertical-align: 2px;

                li
                    a
                        display: block

                        padding: 24px 14px
                        border-radius: 3px

                        background-color: $color-light-grey

                        transition: 0.2s background-color

                        &:hover
                            background-color: $color-blue
                            color: $color-white

                p
                    margin-bottom: 0

                    text-transform: none

            &:hover
                & > a
                    color: $color-blue

                ul
                    max-height: 400px
                    padding-top: 26px
                    padding-bottom: 16px
                    box-shadow: $box-shadow

.lgn
    &__btn
        &--sign-up
            display: inline-block

            margin-right: 5px

        &--log-in
            margin-left: 5px
