@mixin expanded-ul
    max-height: 40rem
    padding: 2.6rem 1.6rem
    box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.15), 0 1px 2px 0 rgba(60, 64, 67, 0.3)    

.hdr
    height: 110px
    padding: 31px 0
    margin-bottom: 2rem
    position: relative
    z-index: 1

    &__inr
        max-width: $site-width
        width: 100%
        margin: 0 auto

    &__row
        align-items: center

    &__link
        padding: 16px 20px
        border-radius: 40px
        box-shadow: $box-shadow
        background-color: #fff
        display: inline-block
        &:hover
            background: #fafafa
        & + #{&}
            margin-left: 24px
        &__img
            height: 17px
            display: block
        &-wrapper
            text-align: right

            font-size: $font-s

            text-transform: uppercase

        font-weight: $font-bold

        color: inherit

.logo
    height: 36px
    margin: 0.6rem 0
    display: block

.menu
    display: flex
    align-items: center

    &-wrapper
        display: flex
        font-size: $font-s

        &--right
            flex-direction: row-reverse
    
    &__ul
        &-1
            margin: 0
            display: flex
            font-weight: 500
            position: relative
        &-2
            overflow: hidden
            max-height: 0
            transition: 0.1s max-height,  0.1s padding-top,  0.1s padding-bottom
            margin: 0
            padding: 0
            position: absolute
            right: 0
            width: 250px
            line-height: 1.5
            box-shadow: none
            top: 41px
            z-index: 1
            color: $color-black

    &__li
        &-1
            cursor: pointer
            list-style-type: none
            margin: 0
            padding: 1rem 0
            text-transform: uppercase
            position: relative
            
            &:hover
                color: $color-blue

            & + &
                margin-left: 2.5rem

            &--expandable
                padding-right: 1.2rem

                &:hover
                    .menu__ul-2
                        @include expanded-ul

                &:after
                    content: ''

                    display: inline-block

                    border-top: 4px solid $color-black
                    border-left: 3px solid transparent
                    border-right: 3px solid transparent
                    margin-left: 4px
                    right: 0
                    top: 1.9rem
                    position: absolute

        &-2
            list-style-type: none
            margin: 0
            background-color: $color-light-grey
            padding: 1.5rem
            transition: .2s ease-in-out
            border-radius: 3px

            h6
                margin-bottom: 0

            &:hover
                background-color: $color-blue
                color: $color-white

            & + &
                margin-top: 1.5rem

    &__login
        display: flex
        align-items: center
        margin-left: 4.0rem
        font-size: 1.6rem

        &-item
            margin: 0 0.5rem

            &--signup
                font-weight: 500
                color: $color-blue
                cursor: pointer


    &__icon
        &-wrapper
            &#{&}
                display: none
    
    &__close
        position: absolute
        top: 2.5rem
        right: 2rem
        width: 3rem
        display: none


@media screen and (max-width: $breakpoint-mobile)
    .hdr
        padding: 2rem 0
        height: 9rem
        .search
            &-wrapper
                margin-left: 2.0rem
                display: flex
            &__input
                height: 3.6rem
        &__nav
            &#{&}#{&}
                position: fixed
                background-color: $color-blue
                top: 0
                left: 0
                width: 100%
                height: 100%
                max-width: 100%
                padding: 7rem 2rem 2rem 2rem
                display: flex
                text-align: left
                transition: .2s ease-in-out
                z-index: 1
                color: $color-white
                transform: translateX(100%)
                opacity: 0

                &--show
                    transform: translateX(0)
                    opacity: 1

    .logo
        max-width: 15rem

    .menu
        &__close
            display: block
            cursor: pointer
        
        &-wrapper
            justify-content: flex-start
            flex-direction: column
            width: 100%

        &__li
            &-1
                &#{&}
                    @include mobile-list

                &--expandable
                    padding-right: 0

                    &:after
                        right: 1rem
                        top: 2.4rem

                    &#{&}:hover
                        .menu__ul-2
                            max-height: 0
                            padding: 0
                            box-shadow: none

                    &:after
                        border-top-color: $color-white
                
                &--expanded
                    &#{&}
                        padding-bottom: 0

                    .menu__ul-2
                        max-height: 45rem !important
            &-2
                background: none
                color: $color-white
                border-top: 1px solid $color-white
                border-radius: 0
                margin-top: 1.0rem

                & + & 
                    margin-top: 0
        &__ul
            &-1
                flex-direction: column
                width: 100%

            &-2
                position: relative
                top: 0
                left: 0
                background: none
                padding: 0
                border-radius: 0
                width: 100%

        &__login
            margin: 0
            flex-direction: column

            &-item
                &#{&}
                    @include mobile-list
        
        &--nomob
            &#{&}
                display: none

        &__icon
            &-wrapper
                &#{&}
                    display: flex
                    flex-direction: row-reverse
                    cursor: pointer

