.review
    &__wrapper
        margin-top: 4rem

    padding-top: 3.2rem
    border-top: 1px solid $color-border
    margin-top: 3.2rem

    &__heading
        &.review__heading
            margin-bottom: 0.5rem

    &__write-button
        margin-top: 0.5rem

    &__count
        font-size: $font-s

    &__table
        margin-top: 2.4rem

        font-size: $font-s

    &__graph
        line-height: 2.3rem

        &-label
            float: left

            color: $color-dark-grey

            cursor: default

        &-bar
            display: inline-block

            width: 20rem
            height: 0.8rem
            border-radius: 0.4rem
            margin-left: 1rem

            vertical-align: 0.1rem

            background-color: $color-grey

            &-inr
                height: 100%
                border-radius: 0.4rem

                background-color: $color-gold

    &__overall
        &-rating
            text-align: center

            .rating
                display: inline-block

                margin-top: 1rem

                &__value
                    line-height: 5rem

                    font-size: 4.8rem
                    font-weight: $font-semibold

                &__count
                    line-height: 1.6rem
                    margin-top: 0.8rem

    &__facet
        &-rating
            &-container
                flex-flow: row wrap

            &#{&}
                padding-top: 0.8rem
                padding-bottom: 0.8rem

            .rating
                display: inline-block

                &__value
                    display: inline-block

                    line-height: 1.6rem
                    margin-left: 0.6rem

                    vertical-align: text-top

                &__name
                    @include ellipsis

                    font-weight: $font-semibold

    &__user
        font-size: $font-s

        &-image
            width: 80px
            height: 80px
            border-radius: 50%
        
        &-name
            margin: 0.3rem 0 0.6rem

            font-weight: $font-bold

        &-info
            color: $color-dark-grey

            &-item
                padding-left: 2rem
                margin-top: 0.3rem

                background: left center / 16px no-repeat

                &--valid
                    background-image: url('https://assets.mspcdn.net/zariance/icon/check-grey.svg')

                &--verified
                    background-image: url('https://assets.mspcdn.net/zariance/icon/account-grey.svg')

                &--source
                    background-image: url('https://assets.mspcdn.net/zariance/icon/info-grey.svg')

    &__date
        padding-left: 1rem
        border-left: 1px solid $color-border
        margin-left: 1rem

        font-size: $font-s

        color: $color-dark-grey

    &__title
        margin: 1rem 0 2.5rem

    &__question
        &-title
            margin: 1rem 0 0.5rem

            font-weight: $font-bold

    &__footer
        font-size: $font-s

        color: $color-dark-grey

        label
            margin-left: 1.5rem

            font-size: inherit

        input
            margin-right: 0.5rem

            vertical-align: -1px

    &__helpful
        &-form
            display: inline-block

    &__report
        &-link
            padding-left: 1rem
            border-left: 1px solid $color-border
            margin-left: 1rem

@include mobile
    .review
        &__wrapper
            margin-top: 3.5rem

            .review
                &__table
                    flex-flow: row wrap

                    .review
                        &__graph
                            flex-basis: 70%

                        &__overall
                            &-rating
                                flex-basis: 30%

                        &__facet
                            &-rating
                                &-wrapper
                                    flex-basis: 100%

                                    margin-top: 0.8rem

                                flex-basis: 48%
                                overflow: hidden

                                margin-top: 0.8rem

                                &:nth-child(even)
                                    margin-left: 4%

                                    text-align: right

        &__title,
        &__rating
            margin-top: 2rem

        &__user
            &#{&}
                display: flex

            &-info
                &-wrapper
                    margin-left: 2rem

        &__count
            margin-bottom: 2rem

        &__header
            text-align: center

        &__write
            &-button
                float: none

        &__helpful-form
            margin: 0

        &__report
            &-link
                white-space: nowrap

                padding: 0
                border-left: 0
                margin: 0
