.rvw
    &__user
        font-size: $font-s

        &-img
            width: 80px
            height: 80px
            border-radius: 50%
        
        &-name
            font-weight: $font-bold

        &-info
            color: $color-dark-grey

            &-item
                padding-left: 20px
                margin-top: 2px

                background: url('https://placem.at/things?w=16&h=16&random=3') left center / 16px no-repeat

    &__date
        font-size: $font-s

        color: $color-dark-grey

    &__ttl
        color: $color-blue

    &__sctn
        &-hdng
            margin: 1rem 0 0.5rem

            font-weight: $font-bold
