input[type="search"]
    height: 4.8rem
    padding-left: 4rem
    margin-bottom: 0

    background-image: url('https://assets.mspcdn.net/fl_lossy/msp-ui/icons/search-icon@2x.png')
    background-position: 11px center
    background-size: 18px
    background-repeat: no-repeat


.search
	transition: width .2s ease-in-out
	&-result
		display: none
		margin-top: 4.0rem
		cursor: pointer

		&#{&}__product
			padding: 2.0rem 0
			&--2
				border-left: 1px solid $color-border

		&__title
			margin: 1rem
		
		&__category
			list-style-type: none
			display: flex
			flex-direction: column
			padding: 1.0rem

			&:hover
				background-color: $color-input
			
			&-title
				font-weight: 500

			&-description
				margin-top: 0.5rem

		&__product
			list-style-type: none
			line-height: 1.5
			padding: 1rem
			display: flex

			&:hover
				background-color: $color-input

			&-image
				width: 4.8rem
				height: 4.8rem
			
			&-info
				margin-left: 1.0rem

			&-title
				font-weight: 500

			&-category
				font-size: 1.2rem
				margin-top: .5rem

	&__input
		&#{&}:focus
			background-color: $color-input
			border: .1rem solid $color-input

	&-wrapper
		&--page
			position: fixed
			background-color: $color-white
			width: 100%
			min-height: 100%
			overflow-y: scroll
			top: 0
			left: 0
			z-index: 10

			.search
				padding: 6rem 0

			.search-result
				display: flex