<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Zariance | About Us</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:700" rel="stylesheet" />
</head>
<body>
    <%= htmlWebpackPlugin.options.header %>
    <main class="container">
        <section class="row content">
            <section class="column">
                <h1>About Zariance</h1><br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at consectetur purus. Curabitur malesuada lectus arcu, et semper quam faucibus nec. Phasellus velit augue, iaculis in felis non, mattis dapibus eros. Aliquam tellus dui, congue quis volutpat convallis, dignissim vel orci. Sed posuere fringilla purus, malesuada convallis felis tempor non. Fusce dignissim accumsan ultricies. In condimentum, odio nec consectetur eleifend, nisl odio accumsan nisi, ac fringilla nibh leo sit amet elit.</p>
                <p>Quisque sem nunc, vehicula in nibh nec, volutpat sagittis ante. Nulla nec sem eu neque eleifend mollis a in lacus. Pellentesque pellentesque non lorem sed tempor. Aliquam cursus elementum luctus. Suspendisse condimentum mauris vel mollis malesuada. Nullam id suscipit est, ullamcorper rutrum ex. Integer quis ultrices ipsum. Cras ac nibh dignissim, condimentum urna vel, accumsan sem. Phasellus commodo ipsum non sem fermentum consequat. Suspendisse viverra risus non sem porttitor, eget consectetur diam lobortis. Nulla elementum sollicitudin laoreet.</p>
                <p>Nam elit nulla, cursus vitae tortor at, pharetra consequat nisi. Nunc elementum eros in rhoncus imperdiet. Cras id placerat augue. In varius varius orci eget dapibus. Integer congue sodales faucibus. Nunc ut mauris neque. Curabitur sagittis nisi nec velit lacinia, at maximus nulla dictum. Etiam condimentum finibus aliquet. Nam posuere consectetur orci, at elementum tellus mollis id. Morbi vestibulum commodo maximus.</p>
                <p>Morbi malesuada mi congue, congue libero quis, rhoncus quam. Etiam arcu libero, blandit at vehicula non, ultricies vitae felis. Nullam at blandit ex. Vivamus efficitur velit vestibulum, vulputate lorem eleifend, commodo erat. Suspendisse potenti. Nunc id urna iaculis, accumsan nisl eget, luctus lectus. Pellentesque vestibulum eros in lacus laoreet laoreet. Proin eu risus sem. Aenean urna ipsum, tempor in ultrices sed, iaculis quis nunc. Nulla sit amet malesuada nibh, sed lacinia arcu. Nam molestie auctor molestie. Integer sagittis condimentum est sed aliquam. Cras et tellus sit amet quam tincidunt scelerisque. Nullam dictum massa non justo faucibus auctor. Integer ante erat, condimentum ac massa eu, finibus ullamcorper magna.</p>
            </section>
        </section>
    </main>
    <%= htmlWebpackPlugin.options.footer %>    
</body>
</html>
