<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Zariance | About Us</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:700" rel="stylesheet" />
</head>
<body>
    <%= htmlWebpackPlugin.options.header %>
    <main class="container">
        <section class="about__content row content">
            <section class="column">
                <h1>About Zariance</h1><br>
                <p>We, at Zariance, help small and medium businesses in finding software tools, services and best business practices. We do this by reaching out to decision makers (founders, chief executives, VPs, department heads, etc.) across various businesses to get their views on the software that they use and the best practices that they've learnt to follow.</p>
                <p>We aim to enable businesses in researching and finding the right business software as well as best practices for all popular business functions, including marketing, sales, customer support, human resources, finance, project management, design, analytics, and technology infrastructure. We intend to create a knowledge base that leverages the power of community, enabling businesses to make better decisions and avoid costly mistakes by learning from the collective experience of the community.</p>
            </section>
        </section>
    </main>
    <%= htmlWebpackPlugin.options.footer %>    
</body>
</html>
