<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="True" name="HandheldFriendly"/>
        <meta content="320" name="MobileOptimized"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>
            Zariance | SAAS Compare
        </title>
    </head>
    <body>
        <%= htmlWebpackPlugin.options.header %>
        <main class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/index.html" target="_blank">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/index.html" target="_blank">
                        CRM Applications
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/index.html" target="_blank">
                        CRM Software
                    </a>
                </li>
                <li class="breadcrumb-item breadcrumb-item--current">
                    Product Review
                </li>
            </ul>
            <section class="row product-overview">
                <div class="product-overview__image-wrapper column column-20">
                    <img class="product-overview__image" src="https://dudodiprj2sv7.cloudfront.net/product-logos/Rf/i1/LVR8JXQCFPV6-180x180.PNG"/>
                </div>
                <div class="column">
                    <div class="row">
                        <div class="column">
                            <h1 class="product-overview__title">
                                Salesforce Lightning
                            </h1>
                            <div class="product-overview__property">
                                <div class="product-overview__property-item product-overview__property-item--offered-by">
                                    by <a class="product-overview__link" href="#">Salesforce LLC</a>
                                </div>
                                <div class="product-overview__property-item product-overview__property-item--rating">
                                    <div class="rating">
                                        <div class="rating__star">
                                            <div class="rating__star-inr" style="width: 86%"></div>
                                        </div>
                                        <span class="rating__num">4.3</span> Rating
                                    </div>
                                </div>
                                <div class="product-overview__property-item product-overview__property-item--reviews">
                                    <span class="rating__num">2,302</span> Reviews
                                </div>
                            </div>
                        </div>
                        <div class="column-20 clearfix">
                            <a class="product-overview__button button float-right" href="/index.html" target="_blank">
                                Experience Demo
                            </a>
                        </div>
                    </div>
                    <div class="product-overview__description-wrapper">
                        <div class="product-overview__description">
                            SalesRabbit's game-changing methodology is based on research they've done with sales pros and the top teams in the industry. It targets the main traction points of every successful organization: rep motivation, team efficiency, and sales mastery. The app is built to help your company make changes that enable peak performance at every door. Their dedicated CSMs and support staff work with you to implement these strategies, ensuring you get the results every door-to-door company hopes for.
                        </div>
                        <div class="product-overview__description-more text-link js-expand-product-overview-description">(read more)</div>
                    </div>
                </div>
            </section>
            <section class="row content">
                <section class="content__main column">
                    <nav class="nav">
                        <div class="pill-wrapper">
                            <a class="pill" href="single-reviews.html">
                                Reviews
                            </a>
                            <a class="pill" href="single-profile.html">
                                Profile
                            </a>
                            <a class="pill" href="single-features.html">
                                Features
                            </a>
                            <a class="pill" href="single-alternatives.html">
                                Alternatives
                            </a>
                            <a class="pill pill--active">
                                Pricing
                            </a>
                        </div>
                    </nav>
                    <div>
                        <section class="section pricing">
                            <div class="section__header clearfix">
                                <h2 class="section__title">Salesforce Lightning Pricing</h2>
                            </div>
                            <div class="section__body">
                                <table class="pricing__table">
                                    <tbody>
                                        <tr>
                                            <th>Sprout</th>
                                            <td>Free</td>
                                            <td>for UNLIMITED agents</td>
                                            <td>&nbsp;</td>
                                            <td><a class="button" href="#">Try for Free</a></td>
                                            <td>Email Support Channel</td>
                                            <td>Basic Phone Support Channel</td>
                                            <td>Basic Social Channel</td>
                                            <td>Knowledge Base</td>
                                        </tr>
                                        <tr>
                                            <th>Blossom</th>
                                            <td>$19</td>
                                            <td>/ agent / month billed annually</td>
                                            <td>$25 /agent month-to-month</td>
                                            <td><a class="button" href="#">Try for Free</a></td>
                                            <td>Satisfaction Surveys</td>
                                            <td>Custom Domain Mappings</td>
                                            <td>Custom Apps</td>
                                            <td>Time Tracking</td>
                                        </tr>
                                        <tr>
                                            <th>Garden</th>
                                            <td>$35</td>
                                            <td>/ agent / month billed annually</td>
                                            <td>$44 /agent month-to-month</td>
                                            <td><a class="button" href="#">Try for Free</a></td>
                                            <td>Multi-Lingual Support</td>
                                            <td>Live Chat &amp; Community Forums</td>
                                            <td>Linked Tickets</td>
                                            <td>Scheduled Reports</td>
                                        </tr>
                                        <tr>
                                            <th>Estate</th>
                                            <td>$49</td>
                                            <td>/ agent / month billed annually</td>
                                            <td>$59 /agent month-to-month</td>
                                            <td><a class="button" href="#">Try for Free</a></td>
                                            <td>Multiple Products</td>
                                            <td>Role-Based Dashboards</td>
                                            <td>Portal Customization</td>
                                            <td>Enterprise Reports</td>
                                        </tr>
                                        <tr>
                                            <th>Forest</th>
                                            <td>$89</td>
                                            <td>/ agent / month billed annually</td>
                                            <td>$99 /agent month-to-month</td>
                                            <td><a class="button" href="#">Try for Free</a></td>
                                            <td>IP Whitelisting</td>
                                            <td>Custom Email Servers</td>
                                            <td>Shared Ownership</td>
                                            <td>Machine Learning</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </section>
                <section class="sidebar column column-25">
                    <section class="widget">
                        <h3 class="widget__title">
                            Feature Analyses
                        </h3>
                        <div class="widget__body">
                            <ul class="no-list">
                                <li>
                                    <a href="/index.html" target="_blank">
                                        Salesforce CRM Ideas
                                    </a>
                                </li>
                                <li>
                                    <a href="/index.html" target="_blank">
                                        Salesforce CRM Database
                                    </a>
                                </li>
                                <li>
                                    <a href="/index.html" target="_blank">
                                        Salesforce CRM Implementation
                                    </a>
                                </li>
                                <li>
                                    <a href="/index.html" target="_blank">
                                        Salesforce CRM Platform
                                    </a>
                                </li>
                                <li>
                                    <a href="/index.html" target="_blank">
                                        Salesforce CRM Email Features
                                    </a>
                                </li>
                                <li>
                                    <a href="/index.html" target="_blank">
                                        Salesforce CRM Ideas
                                    </a>
                                </li>
                                <li>
                                    <a href="/index.html" target="_blank">
                                        Salesforce CRM Database
                                    </a>
                                </li>
                                <li>
                                    <a href="/index.html" target="_blank">
                                        Salesforce CRM Implementation
                                    </a>
                                </li>
                                <li>
                                    <a href="/index.html" target="_blank">
                                        Salesforce CRM Platform
                                    </a>
                                </li>
                                <li>
                                    <a href="/index.html" target="_blank">
                                        Salesforce CRM Email Features
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </section>
            </section>
        </main>
        <%= htmlWebpackPlugin.options.footer %>    
        <script src="https://unpkg.com/slendr/dist/slendr.min.js"></script>
    </body>
</html>
