<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Zariance | Meet Our Team</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:700" rel="stylesheet" />
</head>
<body>
    <%= htmlWebpackPlugin.options.header %>
    <main class="container">
        <section class="row content">
            <section class="team__wrapper column">
                <div class="team__header">
                    <img class="team__header-image" src="https://assets.mspcdn.net/zariance/bg/teamwork.svg">
                    <h1 class="team__header-title">Team work!</h1>
                    <p class="team__header-description">Zariance was born out of a mindset to build solutions to meet the challenges and opportunities around us. We knew there was a better way, so we set out to change the industry with Zariance. We help businesses find the right software & services with the help of our community. Our team is located in Hyderabad, India. Together we are taking the SaaS industry to the next level.</p>
                </div>
                <div class="team__body row">
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://placem.at/people?w=80&h=80&random=1">
                        <div class="team__member-details">
                            <div class="team__member-name">Asif Iqbal Shaik</div>
                            <div class="team__member-title">Editor-in-Chief</div>
                        </div>
                        <div class="team__member-description">Asif heads the editorial team. He has more than six years of experience in reporting consumer technology, and has been quoted in various esteemed publications.</div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://placem.at/people?w=80&h=80&random=2">
                        <div class="team__member-details">
                            <div class="team__member-name">Rahul Srinivas</div>
                            <div class="team__member-title">Senior Reviewer</div>
                        </div>
                        <div class="team__member-description">Having spent the better part of the last decade writing about technology, Rahul is among the most experienced tech journalists in India.</div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://placem.at/people?w=80&h=80&random=3">
                        <div class="team__member-details">
                            <div class="team__member-name">Chandrakant Isi</div>
                            <div class="team__member-title">Contributing Features Writer</div>
                        </div>
                        <div class="team__member-description">Having worked with some of the esteemed publications like PCMag, TechTree, Asian Age, Deccan Chronicle and more, CK brings a whole lot of experience to MySmartPrice.</div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://placem.at/people?w=80&h=80&random=4">
                        <div class="team__member-details">
                            <div class="team__member-name">Zara Ali</div>
                            <div class="team__member-title">Senior Editor</div>
                        </div>
                        <div class="team__member-description">Zara is responsible for the day-to-day news publishing on Gear. She wandered into the world of tech right after she completed her post graduate course in English Journalism.</div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://placem.at/people?w=80&h=80&random=5">
                        <div class="team__member-details">
                            <div class="team__member-name">Onkar Soundankar</div>
                            <div class="team__member-title">Leaks Expert</div>
                        </div>
                        <div class="team__member-description">The youngest member of our team is an expert at scouring the interweb for smartphone leaks. Onkar has a knack for finding out leaks about smartphones.</div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://placem.at/people?w=80&h=80&random=6">
                        <div class="team__member-details">
                            <div class="team__member-name">Abid Iqbal</div>
                            <div class="team__member-title">Senior Editor</div>
                        </div>
                        <div class="team__member-description">Abid may be the youngest member in the team, but he is certainly the most passionate about the technology and has a thing for overpowered assembled computers.</div>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <%= htmlWebpackPlugin.options.footer %>    
</body>
</html>
