<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Zariance | Meet Our Team</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:700" rel="stylesheet" />
</head>
<body>
    <%= htmlWebpackPlugin.options.header %>
    <main class="container">
        <section class="row content">
            <section class="team__wrapper column">
                <div class="team__header">
                    <img class="team__header-image" src="https://assets.mspcdn.net/zariance/bg/teamwork.svg">
                    <h1 class="team__header-title">Our Team</h1>
                    <p class="team__header-description">Zariance was born out of a mindset to build solutions to meet the challenges and opportunities around us. We knew there was a better way, so we set out to change the industry with Zariance. We help businesses find the right software & services with the help of our community. Together we are taking the SaaS industry to the next level.</p>
                </div>
                <div class="team__body row">
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://assets.mspimages.in/zariance/team/sitakanta-ray.jpg">
                        <div class="team__member-details">
                            <div class="team__member-name">Sitakanta Ray</div>
                            <div class="team__member-title">Co-Founder</div>
                        </div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://assets.mspimages.in/zariance/team/sulakshan-kumar.jpg">
                        <div class="team__member-details">
                            <div class="team__member-name">Sulakshan Kumar</div>
                            <div class="team__member-title">Co-Founder</div>
                        </div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://assets.mspimages.in/zariance/team/rohit-agrawal.jpg">
                        <div class="team__member-details">
                            <div class="team__member-name">Rohit Agrawal</div>
                            <div class="team__member-title">Web Product Enthusiast</div>
                        </div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://assets.mspimages.in/zariance/team/venkat-thangi.jpg">
                        <div class="team__member-details">
                            <div class="team__member-name">Venkat Thangi</div>
                            <div class="team__member-title">Growth Manager</div>
                        </div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://assets.mspimages.in/zariance/team/sukhdeep-singh.jpg">
                        <div class="team__member-details">
                            <div class="team__member-name">Sukhdeep Singh</div>
                            <div class="team__member-title">Senior Frontend Engineer</div>
                        </div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://assets.mspimages.in/zariance/team/saurabh-raje.jpg">
                        <div class="team__member-details">
                            <div class="team__member-name">Saurabh Raje</div>
                            <div class="team__member-title">Senior Frontend Engineer</div>
                        </div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://assets.mspimages.in/zariance/team/jai-srivastava.jpg">
                        <div class="team__member-details">
                            <div class="team__member-name">Jai Srivastava</div>
                            <div class="team__member-title">Growth Hacker</div>
                        </div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://assets.mspimages.in/zariance/team/lucky-singh.jpg">
                        <div class="team__member-details">
                            <div class="team__member-name">Lucky Singh</div>
                            <div class="team__member-title">Head of Operations</div>
                        </div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://assets.mspimages.in/zariance/team/mallika-b.jpg">
                        <div class="team__member-details">
                            <div class="team__member-name">Mallika B</div>
                            <div class="team__member-title">Marketer</div>
                        </div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://assets.mspimages.in/zariance/team/vidya-naguru.jpg">
                        <div class="team__member-details">
                            <div class="team__member-name">Vidya Naguru</div>
                            <div class="team__member-title">Marketer</div>
                        </div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://assets.mspimages.in/zariance/team/rhythm-singhal.jpg">
                        <div class="team__member-details">
                            <div class="team__member-name">Rhythm Singhal</div>
                            <div class="team__member-title">Product Manager</div>
                        </div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://assets.mspimages.in/zariance/team/biswajita-mohanty.jpg">
                        <div class="team__member-details">
                            <div class="team__member-name">Biswajita Mohanty</div>
                            <div class="team__member-title">Marketer</div>
                        </div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://assets.mspimages.in/zariance/team/monish-micah.jpg">
                        <div class="team__member-details">
                            <div class="team__member-name">Monish Micah</div>
                            <div class="team__member-title">Admin IT</div>
                        </div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://assets.mspimages.in/zariance/team/dnyanesh-mankar.jpg">
                        <div class="team__member-details">
                            <div class="team__member-name">Dnyanesh Mankar</div>
                            <div class="team__member-title">Senior Product Designer</div>
                        </div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://assets.mspimages.in/zariance/team/shravani-bokka.jpg">
                        <div class="team__member-details">
                            <div class="team__member-name">Shravani Bokka</div>
                            <div class="team__member-title">Senior Product Developer</div>
                        </div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://assets.mspimages.in/zariance/team/krishna-teja.jpg">
                        <div class="team__member-details">
                            <div class="team__member-name">Krishna Teja</div>
                            <div class="team__member-title">Product Developer</div>
                        </div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://assets.mspimages.in/zariance/team/kola-jaideep.jpg">
                        <div class="team__member-details">
                            <div class="team__member-name">Kola Jaideep</div>
                            <div class="team__member-title">Product Engineer</div>
                        </div>
                    </div>
                    <div class="team__member column">
                        <img class="team__member-photo" src="https://assets.mspimages.in/zariance/team/sireesha-vankayala.jpg">
                        <div class="team__member-details">
                            <div class="team__member-name">Sireesha Vankayala</div>
                            <div class="team__member-title">Senior Product Engineer</div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <%= htmlWebpackPlugin.options.footer %>    
</body>
</html>
